In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [7]:
tesla = yf.Ticker("TSLA")

In [8]:
tesla_share_price_data = tesla.history(period= "max")
tesla_share_price_data.head()

TSLA: No price data found, symbol may be delisted (1d 1925-02-02 -> 2024-01-10)

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [21]:
tesla_share_price_data.reset_index(inplace=True)
tesla_share_price_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [23]:
make_graph(tesla_share_price_data, tesla_revenue, 'Tesla')

NameError: name 'tesla_revenue' is not defined

In [8]:
import urllib.request
from bs4 import BeautifulSoup
import json

# URL of the HTML page
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

# Download the HTML content
html_content = urllib.request.urlopen(url).read()

In [9]:

soup=BeautifulSoup(html_content, "html.parser")
with open('gse.json', 'w') as json_file:
    json.dump(data_to_save, json_file)
with open('gse.json', 'r') as json_file:
    gse_info = json.load(json_file)
    print("Content of gse.json:", gse_info)

NameError: name 'data_to_save' is not defined

In [61]:
tesla_revenue = pd.DataFrame(columns=["Date", "Value"])

In [62]:


for row in soup.find("tbody").find_all('tr'):
    cols = row.find_all('td')
    if len(cols) == 2:  # Check for the expected number of columns
        date = cols[0].text.strip()
        value = cols[1].text.strip()  # Extract the value
        tesla_revenue = pd.concat([data, pd.DataFrame({"Date": date, "Value": value}, index=[0])], ignore_index=True)

In [63]:
tesla_revenue.head()

   Date    Value
0  2021  $53,823
1  2020  $31,536
2  2019  $24,578
3  2018  $21,461
4  2017  $11,759

In [72]:
tesla_revenue["Value"] = tesla_revenue['Value'].str.replace(',|\$',"")

In [10]:
# Assuming 'Value' column is initially of type 'object'
tesla_revenue["Value"] = tesla_revenue["Value"].astype(str)
print(tesla_revenue["Value"].dtype)

# Remove commas and dollar signs, then convert to numeric
tesla_revenue["Value"] = tesla_revenue["Value"].replace('[\$,]', '', regex=True).astype(float)

# Now check the data type after conversion
print(tesla_revenue["Value"].dtype)

NameError: name 'tesla_revenue' is not defined

In [1]:
tesla_revenue.tail()

NameError: name 'tesla_revenue' is not defined

In [85]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Value'] != ""]

In [87]:
gamestop = yf.Ticker("GME")

In [88]:
gamestop_data = gamestop.history(period="max")
gamestop_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683251,11021600,0.0,0.0
2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [89]:
gamestop_data.reset_index(inplace=True)
gamestop_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683251,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [99]:
import urllib.request
from bs4 import BeautifulSoup
import json
# URL of the HTML page
url1 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

# Download the HTML content
html_content = urllib.request.urlopen(url1).read()

In [103]:

soup=BeautifulSoup(html_content, "lxml")
with open('gme.json', 'w') as json1_file:
    json.dump(data_to_save, json1_file)
with open('gme.json', 'r') as json1_file:
    gme_info = json.load(json1_file)
    print("Content of gme.json:", gme_info)

Content of gme.json: {'html_title': 'Tesla Revenue 2010-2022 | TSLA | MacroTrends'}

In [11]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

NameError: name 'tesla_data' is not defined